default:true
entityName: "{{ ENTITY_NAME }}"         #Init : Entity display
entityGroup: "{{ ENTITY_GROUP }}"       #Init : Group of entities displayed
report: "{{ report_id }}"
id: "{{ index }}"
categories: [
  {
    name: "KPI's"
    kpis: [
      {
        name: "🏭 Number of sites"
        comment: "<%=' ' + evolution + ' vs last year'%>"
        compute:
          evolution: "(value - comparison)/comparison"
        sentiment:
          evolution:
            domain: [
              0
            ]
            range: [
              "negative"
              "positive"
            ]
        type: "value-dynamic"
        precision:
          evolution: "+,.2%"
          value: ",.1f"
        value: "value"
        slide: 10101
        badge: "evolution"
        data:
          comparison:
            query: [
              {
                $match:
                  domain: "011_VALUD"
                  ENTITY: "<%= dashboard.entityName %>"  
                  SCENARIO: "<%= requestersManager.DIM_SCENARIOS.PREVIOUS %>"
              }
            ]
            field: "VD_1"
          value:
            query: [
              {
                $match:
                  domain: "011_VALUD"
                  ENTITY: "<%= dashboard.entityName %>" 
                  SCENARIO: "<%= requestersManager.DIM_SCENARIOS.CURRENT %>"
              }
            ]
            field: "VD_1"
        id: 0
        unit: " sites"
      }
      {
        name: "👍 New sites"
        comment: "<%=' ' + evolution + ' vs last month'%>"
        compute:
          evolution: "(value - comparison)/comparison"
        sentiment:
          evolution:
            domain: [
              0
            ]
            range: [
              "negative"
              "positive"
            ]
        type: "value-dynamic"
        precision:
          evolution: "+,.2%"
          value: ",.1f"
        value: "value"
        slide: 10101
        badge: "evolution"
        data:
          comparison:
            query: [
              {
                $match:
                  domain: "011_VALUD"
                  ENTITY: "<%= dashboard.entityName %>"
                  SCENARIO: "<%= requestersManager.DIM_SCENARIOS.PREVIOUS %>"
              }
            ] 
            field: "VD_2"
          value:
            query: [
              {
                $match:
                  domain: "011_VALUD"
                  ENTITY: "<%= dashboard.entityName %>"
                  SCENARIO: "<%= requestersManager.DIM_SCENARIOS.CURRENT %>"
              }
            ]
            field: "VD_2"
        id: 0
        unit: " new sites"
      }
      {
        name: "💰 Risk Value"
        comment: "<%=' ' + evolution + ' vs 2016'%>"
        compute:
          evolution: "(value - comparison)/comparison"
        sentiment:
          evolution:
            domain: [
              0
            ]
            range: [
              "negative"
              "positive"
            ]
        type: "value-dynamic"
        precision:
          evolution: "+,.2%"
          value: ",.1f"
        value: "value"
        slide: 10101
        badge: "evolution"
        data:
          comparison:
            query: [
              {
                $match:
                  domain: "011_VALUD"
                  ENTITY: "<%= dashboard.entityName %>"
                  SCENARIO: "<%= requestersManager.DIM_SCENARIOS.PREVIOUS %>"
              }
            ]
            field: "VD_3"
          value:
            query: [
              {
                $match:
                  domain: "011_VALUD"
                  ENTITY: "<%= dashboard.entityName %>"
                  SCENARIO: "<%= requestersManager.DIM_SCENARIOS.CURRENT %>"
              }
            ]
            field: "VD_3"
        id: 1
        unit: " M€"
      }
      {
        name: "💣 Sites at Risk"
        comment: "<%=' ' + evolution + ' vs last month'%>"
        compute:
          evolution: "(value - comparison)/comparison"
        sentiment:
          evolution:
            domain: [
              0
            ]
            range: [
              "negative"
              "positive"
            ]
        type: "value-dynamic"
        precision:
          evolution: "+,.2%"
          value: ",.1f"
        value: "value"
        slide: 10101
        badge: "evolution"
        data:
          comparison:
            query: [
              {
                $match:
                  domain: "011_VALUD"
                  ENTITY: "<%= dashboard.entityName %>"
                  SCENARIO: "<%= requestersManager.DIM_SCENARIOS.PREVIOUS %>"
              }
            ]
            field: "VD_4"
          value:
            query: [
              {
                $match:
                  domain: "011_VALUD"
                  ENTITY: "<%= dashboard.entityName %>"
                  SCENARIO: "<%= requestersManager.DIM_SCENARIOS.CURRENT %>"
              }
            ]
            field: "VD_4"
        id: 1
        unit: " %"
      }
      {
        name: "Spin"
        type: "line"
        chartOptions:
          date: "DATE"
          units:
            VALUE: " %"
          data:
            query:
              domain: "012_LINEC"
              ENTITY: "<%= dashboard.entityName %>"
              SCENARIO: "<%= requestersManager.DIM_SCENARIOS.CURRENT %>"
            precision:
              VALUE: ",.1f"
          value: "VALUE"
      }
      {
        name: "💳 Payment methods"
        type: "leaderboard"
        source:"vs last year"
        chartOptions:
          units:
            value: " %"
            evol: "%"
          variation: "VAR"
          data:
            query:
              domain: "013_LEADB"
          value: "VALUE"
          label: "LABEL"
      }
    ]
  }
  {
    name: "Scorecard"
    kpis: [
      {
        name:"Risk split"
        type: "score-card"
        chartOptions:
          units:
            value: "    M€"
            var:" %"
          value:"VALUE"
          label:"LABEL"
          # variation:"VAR"
          data:
            query:
              domain:"021_SCORC"  
      }
    ]
  }
  {
    name:"More stories"
    kpis: [
      {
        type: "media-video"
        id: "FKPrlnD8iyY"
        provider: "youtube"
      }
      {
        url: "COLONNE_URL"
        data:
          query:
            domain: "031_PDF"
        type: "pdf"
        name: "Credit Procedures"
        linkType: "asset"
      }
    ]
  }
]