MONGO_INDEXES: [
  "domain"
  [
    "domain"
    "subdomain"
  ]
]
DASHBOARDS: [
  {
    report: "Report"
    query:
      domain: "dashboards"
      Group: "France"
    template: "dashboard"
  }
  {
    report: "Report"
    query:
      domain: "dashboards"
      Group:
        $in: [
          "Région"
          "Boutique"
        ]
    template: "dashboard-division"
  }
]
REPORTS: [
  {
    query:
      default: 1
      domain: "dashboards"
    template: "report"
  }
]
DATA_SOURCES: [
  {
    spreadsheet_id: "1wN6d8iWn5AXWznxhBnJgt3qwcmxbiF34vAbH92WsdRI"
    sheetname: "iris_data_Caen"
    domain: "iris_data_Caen"
    type: "google_spreadsheet"
  }
  {
    spreadsheet_id: "1fX0iwx9ilDS8UDTLxnWdhcJZMywk9kLdGvPTxzjfz1A"
    sheetname: "pdf"
    domain: "pdf"
    type: "google_spreadsheet"
  }
  {
    spreadsheet_id: "1fX0iwx9ilDS8UDTLxnWdhcJZMywk9kLdGvPTxzjfz1A"
    sheetname: "heatmap_home"
    domain: "heatmap_home"
    type: "google_spreadsheet"
  }
  {
    spreadsheet_id: "1fX0iwx9ilDS8UDTLxnWdhcJZMywk9kLdGvPTxzjfz1A"
    sheetname: "dashboards"
    domain: "dashboards"
    type: "google_spreadsheet"
  }
  {
    spreadsheet_id: "1fX0iwx9ilDS8UDTLxnWdhcJZMywk9kLdGvPTxzjfz1A"
    sheetname: "dashboard_data"
    domain: "dashboard_data"
    type: "google_spreadsheet"
  }
  {
    spreadsheet_id: "1fX0iwx9ilDS8UDTLxnWdhcJZMywk9kLdGvPTxzjfz1A"
    sheetname: "dashboard_line"
    domain: "dashboard_line"
    type: "google_spreadsheet"
  }
  {
    spreadsheet_id: "1fX0iwx9ilDS8UDTLxnWdhcJZMywk9kLdGvPTxzjfz1A"
    sheetname: "ventes_rayon_day"
    domain: "ventes_rayon_day"
    type: "google_spreadsheet"
  }
  {
    domain: "region_28"
    type: "csv"
    file: "region_28.csv"
  }
  {
    domain: "dpt_14"
    type: "csv"
    file: "dpt_14.csv"
  }
  {
    file: "Datasources_Pilotage_activité.xls"
    sheetname: "10101"
    domain: "linechart-ventes"
    type:"excel"
  }
  {
    file: "Datasources_Pilotage_activité.xls"
    sheetname: "10111"
    domain: "ca_magasin"
    type:"excel"
  }
  {
    file: "Datasources_Pilotage_activité.xls"
    sheetname: "10102"
    domain: "results-bubble"
    type:"excel"
  }
  {
    file: "Datasources_Pilotage_activité.xls"
    sheetname: "10202"
    domain: "growths"
    type:"excel"
  }
  {
    file: "Datasources_Pilotage_activité.xls"
    sheetname: "10204"
    domain: "ranking"
    type:"excel"
  }
  {
    file: "Datasources_Pilotage_activité.xls"
    sheetname: "10205"
    domain: "target_metrics"
    type:"excel"
  }
  {
    file: "Datasources_Pilotage_activité.xls"
    sheetname: "20205"
    domain: "waterfall"
    type:"excel"
  }
  {
    file: "Datasources_Pilotage_activité.xls"
    sheetname: "20201"
    domain: "waterfall_1"
    type:"excel"
  }
  {
    file: "Datasources_Pilotage_activité.xls"
    sheetname: "20203"
    domain: "waterfall_2"
    type:"excel"
  }
  {
    file: "Datasources_Pilotage_activité.xls"
    sheetname: "252"
    domain: "carto"
    type:"excel"
  }
  {
    file: "Datasources_Pilotage_activité.xls"
    sheetname: "253"
    domain: "france_regions"
    type:"excel"
  }
  {
    file: "Datasources_Pilotage_activité.xls"
    sheetname: "250"
    domain: "malls_loc_Caen"
    type:"excel"
  }
  {
    file: "Datasources_Pilotage_activité.xls"
    sheetname: "251"
    domain: "carto2"
    type:"excel"
  }
]